*{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(255, 255, 255);
    
}
#Allpaper h1{
    color: rgb(255, 255, 255);
    padding: 40px;
    background-image: url(art.jpeg);
    font-size: 40px;
    margin-bottom: 5%;
}

#green a img{
    width: 50%;
    height: 1%;
    border-radius: 17px;
    margin-bottom: 1%;
    transition: 0.4s;

}
#green a img:hover{
    transform: scale(1.1, 1.1);
    
}

#green2 a img{
    width: 50%;
    border-radius: 17px;
    margin: 1%;
    transition: 0.4s;
}
#green2 a img:hover{
    transform: scale(1.1, 1.1);
    
}
